.catalogo {
    margin-top: calc(5rem + var(--MarginS));
}

.contenedorCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, auto));
    justify-content: space-between;
    align-items: flex-start;
}

@media (min-width: 720px) {
    .contenedorCards {
        gap: var(--MarginM);
    }
}