.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
}

.footerContenedor {
    display: flex;
    flex-direction: column;
    gap: var(--MarginS);
}

.titulo {
    color: var(--ColorPrimary);
}

@media (min-width: 720px) {
    .contenedorTitulo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.menuList {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--MarginS);
}

@media (min-width: 720px) {
    .menuList {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(33%, auto));
        justify-content: space-between;
    } 
}

.menuList div {
    width: 50%;
}

.subtitulo {
    margin-bottom: var(--MarginSXX);
    color: var(--ColorPrimary);
}

.list {
    display: flex;
    flex-direction: column;
    gap: var(--MarginSXX);
}

.contacto {
    display: flex;
    gap: var(--MarginSX);
}

.parrafo {
    text-align: center;
    color: rgba(255, 255, 255, .7);
    font-size: 1rem;
}