.inicio {
    width: 100%;
    height: max-content;
    margin-top: var(--MarginX);
    position: relative;
    margin-bottom: var(--MarginX);
}

.inicioDescripcion {
    margin-top: var(--MarginX);
    display: flex;
    flex-direction: column;
    gap: var(--MarginS);
}

.titulo {
    font-size: 3rem;
    font-weight: var(--W700);
    letter-spacing: 3px;
}

.inicioImagenes {
    position: relative;
    height: 31.25rem;
}

.link {
    display: flex;
    align-items: center;
    gap: var(--MarginSXX);
}

.img2 {
    width: 12.5rem;
    position: absolute;
    bottom: 17%;
}
.img {
    width: 15rem;
    position: absolute;
    right: 0;
    top: 5%;
}
