.productoDetalles {
    margin-top: calc(5rem + var(--MarginS));
}

.contenedorProducto {
    display: flex;
    flex-direction: column;
}

@media (min-width: 720px) {
    .contenedorProducto {
        flex-direction: row;
        align-items: center;
        gap: var(--MarginSX);
    }
}

.contenedorImages {
    width: 100%;
}

.img {
    width: 100%;
    max-width: 26.25rem;
    object-fit: cover;
    object-position: center;
    margin-bottom: var(--MarginSX);
    
}

.imgSecundaria {
    width: 5.8125rem;
    height: 7.1875rem;
    object-position: center;
    object-fit: cover;
    margin-right: var(--MarginSXX);
    margin-bottom: var(--MarginSX);
}

.titulo {
    margin-bottom: var(--MarginSX);
}

.llamarBtn {
    background-color: #000;
    display: block;
    text-align: center;
    padding: var(--MarginSX);
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: var(--W500);
    letter-spacing: 3px;
    cursor: pointer;
    border: 1px solid whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--MarginSXX);
}   

.igBtn {
    background-color: var(--ColorPrimary);
    border: none;
    margin-top: var(--MarginSXX);
}

.detalles {
    margin-bottom: var(--MarginX);
}