.rentar {
    margin-bottom: var(--MarginX);
}

.contenedorImages {
    position: relative;
    height: 18.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedorImages:last-of-type {
    align-items: flex-end;
    justify-content: center;
}

.parrafo {
    max-width: 50%;
    position: absolute;
}

.contenedorImages:last-of-type .parrafo {
    max-width: 45%;
}

@media (min-width: 568px) {
    .parrafo {
        max-width: 30%;
        position: absolute;
    }
    
    .contenedorImages:last-of-type .parrafo {
        max-width: 25%;
    }
}

.img {
    position: absolute;
    height: 19.25rem;
    width: 13.75rem;
    object-fit: cover;
    top: 0;
}

.imgRigth {
    right: -18%;
}

.imgLeft {
    left: -16%;
}

@media (min-width: 720px) {
    .imgRigth {
        right: 0%;
    }
    
    .imgLeft {
        left: 0%;
    }
}