.visitanos {
    margin-bottom: var(--MarginX);
}

.descripcion {
    display: flex;
    flex-direction: column;
    gap: var(--MarginSX);
}

@media (min-width: 720px) {
    .descripcion > p {
        text-align: center;
    }
    .descripcion > a {
        text-align: center;
    }
}
.map {
    width: 100%;
    height: 25rem;
}